h1 {
    font-weight: 700;
    font-size: 3.55em;
    margin-top: 15%;
    margin-bottom: 8%;
  }
  h2 {
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 0;
  }
  
  p {
    margin-top: 3%;
  }
  
  
  a:link {
      color: rgba(46, 46, 46, 1);
      text-decoration: none;
      
    }
  
  a:visited {
      color: rgba(46, 46, 46, 1);
      text-decoration: none;
      
    } 
    
  a:hover {
      color: rgba(255, 255, 255, 1);
      
    }    
    
  a:active {
      font-weight: bold;
    } 
  
  ::selection {
    background-color: rgba(53, 123, 179, 0.68);
    }
  
  .blinking-cursor {
  font-size: 1em;
  margin-top: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  color: #2e2e2e;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
  
  }
  
  @keyframes "blink" {
    from, to {
      color: transparent;
    }
    50% {
      color: rgba(53, 123, 179, 0.68);
    }
  }
  
  @-moz-keyframes "blink" {
    from, to {
      color: transparent;
    }
    50% {
      color: rgba(53, 123, 179, 0.68);
    }
  }
  
  @-webkit-keyframes "blink" {
    from, to {
      color: transparent;
    }
    50% {
      color: rgba(53, 123, 179, 0.85);
    }
  }
  
  @-ms-keyframes "blink" {
    from, to {
      color: transparent;
    }
    50% {
      color: #2e2e2e;
    }
  }
  
  @-o-keyframes "blink" {
    from, to {
      color: transparent;
    }
    50% {
      color: #2e2e2e;
    }
  }
  body, html{
    height:100%;
    margin:0;
    font-size:16px;
    font-family:"Lato", sans-serif;
    font-weight:400;
    line-height:1.8em;
    color:#666;
  }
  .pimg1,.pimg2,.pimg3 { 
    position:relative;
    opacity:1;
    background-position:top;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
  }
  .pimg1{
    background-image:url('img/image1.jpg') ;
    min-height:100%;
  }
  .pimg2{
    background-image:url('img/image2.jpg') ;
    min-height:100%;

  }
  .pimg3{
    background-image:url('img/image3.jpg') ;
    min-height:100%;
  }
  .section{
    text-align:center;
    padding:50px 80px;
  }
  
  .section-light{
    background-color:#f4f4f4;
    color:#666;
  }
  
  .section-dark{
    background-color:#282e34;
    color:#ddd;
  }
  
  .ptext{
    position:absolute;
    top:50%;
    width:100%;
    text-align:center;
    color:#000;
    font-size:27px;
    letter-spacing:8px;
    text-transform:uppercase;
  }
  
  .ptext .border{
    background-color:#111;
    color:#fff;
    padding:20px;
    display: flex;
    flex-direction: row;
    align-items: center;
  justify-content: center;

    
    
  }
  
  .ptext .border .trans{
    background-color:transparent;
  }
  
  @media(max-width:568px){
    .pimg1, .pimg2, .pimg3{
      background-attachment:scroll;
    }
  }
  .columna p{
    margin-left: auto;
      margin-right: auto;
      width: 24em;
  }
  
  .columna h2{
    margin-left: auto;
      margin-right: auto;
      width: 24em;
  }

  .index {
    
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: auto;
  align-content: space-between;
}
    .nav {
      background-color: transparent;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
      align-items: auto;
      align-content: space-between;
    }
     
      }
      .btn-large {
        font-size: 1.0625em;
        padding: 0.5625em 1.5em;
      }
      .btn-gray {
        color: #808080;
        border-color: #808080;
      }
      .btn-gray:hover {
        background: #808080;
        color: #fff;
        border-color: #808080;	
      }
  }
  

input::-moz-focus-inner,
button::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input[type="submit"].btn,
button.btn {
	cursor: pointer;
}

a.btn,.btn {
  margin-right: 1em; 
  margin-bottom: 1em; 
	display: inline-block;
	outline: none;
	*zoom: 1;
	text-align: center;
	text-decoration: none;
	font-family: inherit;
	font-weight: 300;
	letter-spacing: 1px;
	vertical-align: middle;
	border: 1px solid;
	transition: all 0.2s ease;
	box-sizing: border-box;
	text-shadow: 0 1px 0 rgba(0,0,0,0.01);
}
  
    
    

  
  
  
  
  

    